In [6]:
import pandas as pd
import pymorphy2
from nltk.tokenize import word_tokenize

In [7]:
morph = pymorphy2.MorphAnalyzer()

In [8]:
df = pd.read_excel("Новая таблица.xlsx")

df.head()

                                            sentence
0  Ну тут тоже, да как же, там рабочие, специальн...
1  Ну тут тоже, да как же, там рабочие, специальн...
2  Ну тут тоже, да как же, там рабочие, специальн...
3  Ну тут тоже, да как же, там рабочие, специальн...
4  Ну тут тоже, да как же, там рабочие, специальн...

In [9]:
df.drop_duplicates()

                                                sentence
0      Ну тут тоже, да как же, там рабочие, специальн...
15     Да, милая моя, у нас, у нас жила Шарф -то, нем...
36              И зачем столбы, самые, с реки поставили?
46     Мать ни разу не помянула, и даже ни рубля не д...
61                    Давношнее слово, розгой... били...
...                                                  ...
10163  Сейчас у нас таких специалистов нету, сейчас м...
10181  И мы спим уже, и вот слышим, кто -то кричит на...
10197  Если дома... не достроен, там, или ещё что -то...
10216                          Надо руки потом уже мыть.
10222  Вот сколько лет здесь живем, уже они с тех пор...

[702 rows x 1 columns]

In [12]:
new_df_list = []

for id, sentence in enumerate(df["sentence"].values):
    tokens = word_tokenize(sentence)
    for token in tokens:
        parsed_token = morph.parse(token)[0]
        new_dict = {
            "sentence_id": id,
            "normal_form": parsed_token.normal_form,
            "pos": parsed_token.tag.POS,
            "gender": parsed_token.tag.gender,
            "case": parsed_token.tag.case,
            "person": parsed_token.tag.person,
            "tag": parsed_token.tag}
        new_df_list.append(new_dict)

In [13]:
new_df = pd.DataFrame(new_df_list)

new_df.head()

   sentence_id normal_form   pos gender  case person        tag
0            0          ну  PRCL   None  None   None       PRCL
1            0         тут  ADVB   None  None   None  ADVB,Dmns
2            0        тоже  PRCL   None  None   None       PRCL
3            0           ,  None   None  None   None       PNCT
4            0          да  PRCL   None  None   None       PRCL

In [14]:
new_df.to_excel('pymorphy.xlsx', index=False)